.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: black;
  padding: 15px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin-left: 25px;
}

.navLinks a {
  text-decoration: none;
  color: #555;
  font-weight: 400;
  padding-bottom: 5px;
  position: relative;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #007bff;
}

.navLinks a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #007bff;
  transition: width 0.3s ease;
}

.navLinks a:hover::after {
  width: 100%;
}
